body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}
.btn_publish{
    float:right;
    margin-bottom: 10px;
    margin-top: 5px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-dec{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

